* {
    box-sizing: border-box;
}

html {
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem;
    background-color: #f6F8ff;
    align-items: center;

}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
    max-width: 730px;
    width: 100%;
}

h1 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
}

#screen_mode {
    display: flex;
    flex-direction: row;
    align-items: center;
}



#mode_word {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    margin-right: 0.5rem;
    color: #4B6A9B;
    position: relative;
    top: 0.2rem;
}

#mode_img {
    width: 20px;
    height: 20px;
}

#input-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    min-width: 327px;
    width: 100%;
    max-width: 730px;
}